dtApp/MauiApp1/.vs
dtApp/MauiApp1/MauiApp1/bin
dtApp/MauiApp1/MauiApp1/obj
dtApp/server/node_modules
server/node_modules
console/ConsoleApp1/.vs
console/ConsoleApp1/ConsoleApp1/obj
console/ConsoleApp1/ConsoleApp1/bin
